
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Lora:ital,wght@0,400..700;1,400..700&family=Nabla&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 20px;}
body{
    background-color: white;
    border-bottom: 100px;
}
.container{
    display: flex;
    border:solid rgb(23, 61, 114)1px;
}
.hilera{
    width: 33.4%;
    border: solid rgb(24, 68, 11)1px;
}

.fotofondo{
    padding :0%;
    opacity: 100;
    background-size: cover;
    background-position: center;
}
.borroso{
    padding: 0;
    margin: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}
.fotofondo:hover{
    background-color:  rgb(11, 34, 68);
}
.foto{
    border-radius: 300px;
    margin: 4.5%;
    width: 90%;
    transition: 1s;
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.8);;
}
.foto:hover{
    scale: 1.1;
    border-radius:10px;
}   
.nombre{
    text-align: center;
    font-size: x-large;
    transition: 1.5s;
}
.perfil{
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    transition: 1.5s;
}
.perfil:hover,.nombre:hover,.estudios:hover,.proyectos:hover,.idiomas:hover,.stacks:hover{
    scale: 1.05;
}
.links{ 
    padding-left: 10%;
    transition: 1.5s;
}
a{  
    text-decoration: none;
    align-items: center;
    display:flex;
    transition: 1.5s;
}
a:hover{
    scale: 1.1;
    padding-left: 50px;
}
a:visited{
    color: black;
}
.logos{
    width: 40px;
}
.titulo{
    background-color: rgb(24, 68, 11);
    color: aliceblue;
    padding: 5%;
    transition: 1.5s;
    
}
.titulo:hover{
    background-color:  rgb(19, 47, 9);
}
.estudios{
    padding: 10%;
    text-align: justify;
    transition: 1.5s;
}
.fecha{
    display: block;
    text-align: right;
    font-size: small;
}
.proyectoinfo{
    padding-left: 5%;
    text-align: justify;
}
.proyectos{
    padding-top: 10%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    transition: 1.5s;
}
.idiomas{
    padding: 5.78%;
    text-align: left;
    transition: 1.5s;
}
.stacks{
    padding:10%;
    transition: 1.5s;
}
ul{
    margin: 30px;
    padding-left: 5%;
}
li{
    text-align: left;
    list-style:disc;
}
h3{
    text-align: left;
    font-size: x-large;
}
h2{
    font-size: xx-large;
    text-align: center;
    transition: 1.5s;
}
h2:hover{
    scale: 1.1;
}
hr{
    border-color:rgb(23, 61, 114);
}
footer{
    position:fixed;
    width: 100%;
    height: 30px;
    background-color: rgb(24, 68, 11);
    bottom: 0;
}

.textfooter{
    inset: 0;
    margin: auto;
    align-items: center;
    width: max-content;
    height: min-content;
    color: aliceblue;}